#### Import Modules

In [15]:
import pandas as pd
from datetime import datetime, timedelta

#### Read in Data

In [2]:
files_path = '.../MonthlyInvoiceGeneration/'

In [56]:
client_info = pd.read_csv(files_path + 'ClientInfo.csv', encoding="ISO-8859-1").head()
client_info

,ClientID,Client,Street,City,Region,ZipCode,Country,Phone,Date,Consultation Hours,...,Report Revisions Total,Final Presentation Total,Report Training Total,Subtotal,Discount Total,Subtotal Less Discount,Tax Rate,Total Tax,Balance Due,Invoice No
0,14352017899,Sapien Corp.,368-557 Vel Avenue,Hattian Bala,AK,3631,Côte D'Ivoire (Ivory Coast),(820) 413-6176,6/17/2019,4,...,$900.00,$45.00,$180.00,"$3,775.00",$755.00,"$3,020.00",0.05,$151.00,"$3,171.00",INV2021110
1,69712298999,Consequat Limited,9727 Ultricies Rd.,Huntsville,AL,11382,Cuba,(978) 236-0395,2/17/2020,4,...,$800.00,$45.00,$210.00,"$3,405.00",$170.25,"$3,234.75",0.05,$161.74,"$3,396.49",INV20211
2,43524344099,Mauris Suspendisse Foundation,"Ap #835-1101 Quam, Road",Cork,Munster,5328,South Sudan,(505) 767-7660,4/5/2020,4,...,$650.00,$45.00,$180.00,"$3,375.00",$843.75,"$2,531.25",0.05,$126.56,"$2,657.81",INV202150
3,41729410499,Hymenaeos Mauris Limited,453-5174 Nibh Ave,Brussel,Brussels Hoofdstedelijk Gewest,388678,Syria,(647) 668-9681,12/2/2020,4,...,$800.00,$45.00,$240.00,"$3,360.00",$504.00,"$2,856.00",0.05,$142.80,"$2,998.80",INV202180
4,91733290299,Eros Ltd,"641-5636 Nec, Rd.",Dannevirke,North Island,56-239,Egypt,(339) 732-0023,1/5/2020,4,...,$550.00,$45.00,$210.00,"$3,755.00",$563.25,"$3,191.75",0.05,$159.59,"$3,351.34",INV202119

In [57]:
contact_info = pd.read_csv(files_path + 'ClientContactInfo.csv')
contact_info

,ClientID,First Name,Last Name,Email
0,1.435202e+10,Alford,Russell,arussell@sapien corp.com
1,6.971230e+10,Audrey,Parker,aparker@consequat limited.com
2,4.352434e+10,Evelyn,Holmes,eholmes@mauris suspendisse foundation.com
3,4.172941e+10,Cadie,Watson,cwatson@hymenaeos mauris limited.com
4,9.173329e+10,Dainton,Montgomery,dmontgomery@eros ltd.com
...,...,...,...,...
195,NaN,Rebecca,Murray,NaN
196,NaN,Miley,Casey,NaN
197,NaN,Carl,Harris,NaN
198,NaN,Owen,Montgomery,NaN
199,NaN,Charlotte,Adams,NaN

#### Join Tables

In [58]:
from functools import reduce

all_info = reduce(lambda left,right: pd.merge(left,right,on=['ClientID'],how='inner'),[client_info,contact_info])
all_info['ContactName'] = all_info['First Name'] + ' ' + all_info['Last Name']
all_info

,ClientID,Client,Street,City,Region,ZipCode,Country,Phone,Date,Consultation Hours,...,Discount Total,Subtotal Less Discount,Tax Rate,Total Tax,Balance Due,Invoice No,First Name,Last Name,Email,ContactName
0,14352017899,Sapien Corp.,368-557 Vel Avenue,Hattian Bala,AK,3631,Côte D'Ivoire (Ivory Coast),(820) 413-6176,6/17/2019,4,...,$755.00,"$3,020.00",0.05,$151.00,"$3,171.00",INV2021110,Alford,Russell,arussell@sapien corp.com,Alford Russell
1,69712298999,Consequat Limited,9727 Ultricies Rd.,Huntsville,AL,11382,Cuba,(978) 236-0395,2/17/2020,4,...,$170.25,"$3,234.75",0.05,$161.74,"$3,396.49",INV20211,Audrey,Parker,aparker@consequat limited.com,Audrey Parker
2,43524344099,Mauris Suspendisse Foundation,"Ap #835-1101 Quam, Road",Cork,Munster,5328,South Sudan,(505) 767-7660,4/5/2020,4,...,$843.75,"$2,531.25",0.05,$126.56,"$2,657.81",INV202150,Evelyn,Holmes,eholmes@mauris suspendisse foundation.com,Evelyn Holmes
3,41729410499,Hymenaeos Mauris Limited,453-5174 Nibh Ave,Brussel,Brussels Hoofdstedelijk Gewest,388678,Syria,(647) 668-9681,12/2/2020,4,...,$504.00,"$2,856.00",0.05,$142.80,"$2,998.80",INV202180,Cadie,Watson,cwatson@hymenaeos mauris limited.com,Cadie Watson
4,91733290299,Eros Ltd,"641-5636 Nec, Rd.",Dannevirke,North Island,56-239,Egypt,(339) 732-0023,1/5/2020,4,...,$563.25,"$3,191.75",0.05,$159.59,"$3,351.34",INV202119,Dainton,Montgomery,dmontgomery@eros ltd.com,Dainton Montgomery

#### Import Modules

In [59]:
from reportlab.pdfgen import canvas
from reportlab.lib.pagesizes import letter, A4
from reportlab.lib.utils import ImageReader
from reportlab.platypus import SimpleDocTemplate, Table, TableStyle
from reportlab.lib import colors
from reportlab.lib.styles import getSampleStyleSheet
from reportlab.platypus import Image, Paragraph, Table
from reportlab.lib.units import mm, inch
from reportlab.pdfbase.pdfmetrics import stringWidth

#### Create Invoices

In [70]:
for i in range(len(all_info)):
    #Create canvas
    c = canvas.Canvas(files_path + 'JanuaryInvoices/' + all_info['Client'][i] + '_JanuaryInvoice.pdf', pagesize=A4)
    width, height = A4

    #Insert logo in top right corner
    image_file = ImageReader(".../MonthlyInvoiceGeneration/CompanyLogo.png")
    c.drawImage(image_file, 425, 660, mask='auto')

    #Insert company information in top left corner
    c.setFont("Helvetica", 16)
    c.drawString(35,750,"Amanda Conlon Consulting")

    c.setFont("Helvetica", 12)
    c.drawString(35,735,"123 Consulting Street, Olathe, Kansas, 66062")
    c.drawString(35,720,"www.amandaconlonconsulting.com")
    c.drawString(35,705,"(123) 456-7890")

    #Insert invoice frame
    c.setFont("Helvetica-Bold", 12)
    c.drawString(35,660,"BILL TO")
    c.line(35,650,250,650)

    c.drawString(425,660,"Invoice No:")
    c.drawString(425,640,"Invoice Date:")
    c.drawString(425,620,"Due Date:")

    image_file = ImageReader(".../MonthlyInvoiceGeneration/ServicesMenu.png")
    c.drawImage(image_file, 35, 430, mask='auto')

    c.setFont("Helvetica-Bold", 12)
    c.drawString(75,536,"DATE")
    c.drawString(158,536,"DESCRIPTION")
    c.drawString(285,536,"HOURS")
    c.drawString(400,536,"RATE")
    c.drawString(500,536,"TOTAL")

    c.setFont("Helvetica", 12)
    c.drawString(197-stringWidth("Consultation",'Helvetica',12)/2,515,"Consultation")
    c.drawString(197-stringWidth("Report Creation",'Helvetica',12)/2,495,"Report Creation")
    c.drawString(197-stringWidth("Report Revisions",'Helvetica',12)/2,475,"Report Revisions")
    c.drawString(197-stringWidth("Final Presentation",'Helvetica',12)/2,455,"Final Presentation")
    c.drawString(197-stringWidth("Training/Handoff",'Helvetica',12)/2,435,"Training/Handoff")

    c.drawString(400,400,"SUBTOTAL")
    c.line(465,395,575,395)

    c.drawString(400,380,"DISCOUNT")
    c.line(465,375,575,375)

    c.drawString(298,360,"SUBTOTAL LESS DISCOUNT")
    c.line(465,355,575,355)

    c.drawString(402,340,"TAX RATE")
    c.line(465,336,575,335)

    c.drawString(395,320,"TOTAL TAX")
    c.line(300,315,575,315)

    c.setFillColorRGB(1,0,0)
    c.setFont("Helvetica-Bold", 14)
    c.drawString(360,295,"BALANCE DUE")
    c.line(465,290,575,290)

    c.setFillColorRGB(0,0,0)
    c.setFont("Helvetica-Bold", 10)
    c.drawString(35,75,"Terms & Instructions")
    c.line(35,65,300,65)

    c.setFont("Helvetica", 10)
    c.drawString(35,50,"Please pay within 30 days via PayPal (amanda@acconsulting.com)")

###############################################################################################################################  

    #Billing Info
    c.setFont("Helvetica", 12)
    bill_to_name = all_info['ContactName'][i]
    bill_to_address = all_info['Street'][i]
    bill_to_address_2 = all_info['City'][i] + ', ' + all_info['Region'][i] + ', ' + all_info['ZipCode'][i]
    bill_to_country = all_info['Country'][i]
    
    invoice_no = all_info[' Invoice No '][i]
    invoice_date = datetime.today().strftime("%m/%d/%Y")
    due_date = (datetime.today() + timedelta(days=30)).strftime("%m/%d/%Y")

    #Contact Info
    c.setFont("Helvetica", 12)
    c.drawString(35,635,bill_to_name)
    c.drawString(35,620,bill_to_address)
    c.drawString(35,605,bill_to_address_2)
    c.drawString(35,590,bill_to_country)
    
    c.drawString(518,660,invoice_no)
    c.drawString(515,640,invoice_date)
    c.drawString(515,620,due_date)
    
    #Table Data
    consultation_date = all_info['Consultation Date'][i]
    c.drawString(90-stringWidth(consultation_date,'Helvetica',12)/2,515,consultation_date)
    consultation_hours = '4'
    c.drawString(300-stringWidth(consultation_hours,'Helvetica',12)/2,515,consultation_hours)
    consultation_rate = '$250.00'
    c.drawString(460-stringWidth(consultation_rate,'Helvetica',12),515,consultation_rate)
    consultation_total = str(all_info[' Consultation Total '][i])
    c.drawString(570-stringWidth(consultation_total,'Helvetica',12),515,consultation_total)
    
    report_date = all_info['Report Start Date'][i]
    c.drawString(90-stringWidth(report_date,'Helvetica',12)/2,495,report_date)
    report_creation = str(all_info['Report Creation Hours'][i])
    c.drawString(300-stringWidth(report_creation,'Helvetica',12)/2,495,report_creation)
    report_rate = '$75.00'
    c.drawString(460-stringWidth(report_rate,'Helvetica',12),495,report_rate)
    report_total = str(all_info[' Report Creation Total '][i])
    c.drawString(570-stringWidth(report_total,'Helvetica',12),495,report_total)
    
    revisions_date = all_info['Report Revisions Date'][i]
    c.drawString(90-stringWidth(revisions_date,'Helvetica',12)/2,475,revisions_date)
    report_revisions = str(all_info['Report Revisions Hours'][i])
    c.drawString(300-stringWidth(report_revisions,'Helvetica',12)/2,475,report_revisions)
    revision_rate = '$50.00'
    c.drawString(460-stringWidth(revision_rate,'Helvetica',12),475,revision_rate)
    revision_total = str(all_info[' Report Revisions Total '][i])
    c.drawString(570-stringWidth(revision_total,'Helvetica',12),475,revision_total)
    
    presentation_date = all_info['Final Presentation Date'][i]
    c.drawString(90-stringWidth(presentation_date,'Helvetica',12)/2,455,presentation_date)
    final_presentation = str(all_info['Final Presentation Hours'][i])
    c.drawString(300-stringWidth(final_presentation,'Helvetica',12)/2,455,final_presentation)
    presentation_rate = '$30.00'
    c.drawString(460-stringWidth(presentation_rate,'Helvetica',12),455,presentation_rate)
    presentation_total = str(all_info[' Final Presentation Total '][i])
    c.drawString(570-stringWidth(presentation_total,'Helvetica',12),455,presentation_total)
    
    training_date = all_info['Report Training Date'][i] 
    c.drawString(90-stringWidth(training_date,'Helvetica',12)/2,435,training_date)
    training = str(all_info['Report Training Hours'][i])
    c.drawString(300-stringWidth(training,'Helvetica',12)/2,435,training)
    training_rate = '$100.00'
    c.drawString(460-stringWidth(training_rate,'Helvetica',12),435,training_rate)
    training_total = str(all_info[' Report Training Total '][i])
    c.drawString(570-stringWidth(training_total,'Helvetica',12),435,training_total)
    
    #Totals
    subtotal = all_info[' Subtotal '][i]
    c.drawString(575-stringWidth(subtotal,'Helvetica',12),400,subtotal)
    discount = all_info[' Discount Total '][i]
    c.drawString(575-stringWidth(discount,'Helvetica',12),378,discount)
    subtotal_less = all_info[' Subtotal Less Discount '][i]
    c.drawString(575-stringWidth(subtotal_less,'Helvetica',12),358,subtotal_less)
    tax_rate = '5%'
    c.drawString(575-stringWidth('5%','Helvetica',12),338,tax_rate)
    total_tax = all_info[' Total Tax '][i]
    c.drawString(575-stringWidth(total_tax,'Helvetica',12),318,total_tax)
    balance_due = all_info[' Balance Due '][i]
    c.drawString(575-stringWidth(balance_due,'Helvetica',12),295,balance_due)
    
    c.save()

#### Send Out Invoices by Email

In [61]:
import smtplib
import csv
from string import Template
from email.mime.multipart import MIMEMultipart
from email.mime.text import MIMEText

In [69]:
filename = files_path + 'invoice_template.txt'

def read_template(filename):
    with open(filename, "r", encoding="utf-8") as template_file:
        template_file_content = template_file.read()
        return Template(template_file_content)
           
def main():
    message_template = read_template(filename)
    MY_ADDRESS = "amanda@acconsulting.com"
    PASSWORD = "MyPassword01"

    # set up the SMTP server
    s = smtplib.SMTP(host="smtp.gmail.com", port=587)
    s.starttls()
    s.login(MY_ADDRESS, PASSWORD)

    # create a message
    msg = MIMEMultipart() 
    
    for i in range(len(all_info)):
        # add personalization to message template
        message = message_template.substitute(FIRST_NAME=all_info['First Name'][i],BALANCE_DUE=all_info[' Balance Due '][i],
            DATE=(datetime.today() + timedelta(days=20)).strftime('%m/%d/%Y') ,INVOICE_NO=all_info[' Invoice No '][i])
        print(message)

        # setup the parameters of the message
        msg["From"]=MY_ADDRESS
        msg["To"]= all_info['Email'][i]
        msg["Subject"]= datetime.today().strftime('%B') + " Invoice"

        # add in message body
        msg.attach(MIMEText(message, "plain"))

        # send message via the server set up earlier.
        s.send_message(msg)
        del msg

        # Terminate the SMTP session and close the connection
        s.quit()

if __name__ == "__main__":
    main()

Hello Alford,

Thank you for your continued business with us. We have uploaded a detailed copy of INV2021110 to your client portal.

The invoice total is  $3,171.00 , with  $3,171.00  to be paid by 02/13/2021.

If you have any questions or concerns regarding this invoice, please do not hesitate to get in touch with us at billing@acconsulting.com.

Sincerely,

Amanda Conlon Consulting